<!-- Modal for adding a new complaint -->
<div id="modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h2>Add Complain</h2>
      <form>
        <label for="title">Title:</label><br />
        <input type="text" id="title" name="title" /><br /><br />
        <label for="description">Description:</label><br />
        <textarea id="description" name="description"></textarea><br /><br />
        <button class="submit-btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
  