<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sachet Nagarik</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/info-banner.css">
  <link rel="stylesheet" href="/css/options.css">
  <link rel="stylesheet" href="/css/petition.css">
  <link rel="stylesheet" href="/css/footer.css">

</head>

<body>
  <div class="landing-page">
      <!-- Nav-bar -->
    <div class="container">
      <div class="logo">
        <img src="/images/logo-name0.png.png" alt="" height="140px" width="140px">
      </div>


      <div class="box">
        <input type="text" placeholder=" Search Bar">
      </div>
      <div class="button">
        <button class="button">Sign In</button>
      </div>
    </div>

    <div class="nav-bar">
      <div class="home">Home</div>
      <div class="contact-us">Contact us</div>
      <div class="about-us">About us</div>
      <div class="notification">Notification</div>
    </div>

    <br>

     <!-- Sachet Nagarik Bannar -->
    <div class="info-bannar">
      <div class="frame-33989">
        <div class="group-34080">
          <div class="rectangle-1289"></div>

          <img class="rectangle-1290" src="/images/Rectangle 1290.png" />
          <div class="group-34079">
            <div class="civic">CIVIC</div>
            <div class="engagement">ENGAGEMENT</div>
          </div>
        </div>
        <div class="frame-33988">
          <div class="frame-33984">
            <div class="sachet-nagarik">SACHET NAGARIK</div>
            <div class="engage-report-resolve">Engage.Report.Resolve</div>
          </div>
        </div>
      </div>
    </div>

        <!-- petition options -->
    <div class="petition-options">
      <div class="frame-34007">
        <div class="women-s-right">Women's Right</div>
        <div class="transportation">Transportation</div>
        <div class="drinking-water">Drinking Water</div>
        <div class="climate-change">Climate Change</div>
      </div>
    </div><br />


        <!-- petition content -->
    <div class="petition-content">

    <div class="petition-box">
      <div class="image-container">
        <img src="/images/mensuration.png" alt="mensuration">
        
      </div>
      <div class="content">
        <h2>Petition for Menstrual Leave Policy</h2>
         <br>
        <div class="add-text">Help Us Support Women's Health and Well-being</div>
        <br>
        <p>We are advocating for a menstrual leave policy that acknowledges and addresses the unique health needs of
          women. Menstrual health is a critical aspect of overall well-being, and we believe that providing dedicated
          leave for menstruation can make.......

        </p>
        <a href="#">Read More</a>
        <div class="stats">
          <div class="stat">
            <span>👥</span>
            <span>63</span>
          </div>
          <div class="stat">
            <span>✋</span>
            <span>0</span>
          </div>

        </div>
      </div>
    </div>

    <div class="petition-box">
      <div class="image-container">
        <img src="/images/ garbage.png" alt="mensuration">
        <!-- <span class="victory-badge">VICTORY</span> -->
      </div>

      <div class="content">
        <h2>Petition for cleaner and healthier Pokhara</h2>
         <br>
        <div class="add-text">Help Us Support in making Pokhara a clean green city.</div>
        <br>
        <p>We, the residents of Pokhara, urgently request that the local authorities establish and enforce a regular
          waste collection schedule throughout our city. The current inconsistencies in waste collection have led to
          significant cleanliness issues and health concerns.We urge the authorities to ensure that waste collection vehicles operate according to a fixed timetable, provide timely notifications of any changes, and are maintained in optimal condition to avoid delays........

        </p>
        <a href="#">Read More</a>
        <div class="stats">
          <div class="stat">
            <span>👥</span>
            <span>63</span>
          </div>
          <div class="stat">
            <span>✋</span>
            <span>0</span>
          </div>

        </div>
      </div>
    </div>
  </div>
    

      <!-- petition options -->
    <nav class="action-menu">
      <ul class="top-actions">
        <li><button>Petitions</button></li>
        <li><button>Complaints</button></li>
        <li><button>Queries</button></li>
        <li><button>Polls</button></li>

      </ul>
      <div class="main-action">
        <button>Community Event</button>
      </div>
    </nav>
    
        <!-- Bannar -->
    <div class="metrics-banner">
      <div class="metric-item">
        <span class="metric-number">2,456</span>
        <span class="metric-label">users and growing</span>
      </div>
      <div class="separator"></div>
      <div class="metric-item">
        <span class="metric-number">100</span>
        <span class="metric-label">complaints posted</span>
      </div>
    </div>
 
               <!-- Footer -->
    <footer class="footer-1">
      <div class="footer-content">

        <p>सचेत <br> नागरिक</p>


      </div>
      <div class="footer-content">
        <h4>Quick Links</h4>
        <li><a href="#">Home</a></li>

        <li><a href="#">About us</a></li>

        <li><a href="#">Contact us</a></li>
      </div>


      <div class="footer-content">
        <h4>Connect with us</h4>
        <div class="icons">
          <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
          <a href="#"><i class="fa-brands fa-google"></i></a>
        </div>
      </div>
    </footer>

  </div>
</body>

</html>


