<!DOCTYPE html>
<html lang="en">
<head>

          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Sachet Nagarik</title>
           
          <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"/>
          <link rel="stylesheet" href="/css/header.css">
          <link rel="stylesheet" href="/css/info-banner.css">
          <link rel="stylesheet" href="/css/options.css">
          <link rel="stylesheet" href="/css/petition.css">
          <link rel="stylesheet" href="/css/different options.css">
          <link rel="stylesheet" href="/css/growing.css">
          <link rel="stylesheet" href="/css/footer.css">


</head>
<body>

          <div class="landing-page">
                    
                              <div class="container">
                                <div class="logo">
                                  <img src="image/logo-name0.png.png" alt="">
                                </div>
                            
                            
                                <div class="box">
                                  
                                   <input type="text" placeholder=" Search Bar">
                                   
                                </div>
                                <div class="button">
                                  <button class="button">Sign In</button>
                                </div>
                              </div>
                            
                              <div class="nav-bar">
                                <div class="home">Home</div>
                                <div class="contact-us">Contact us</div>
                                <div class="about-us">About us</div>
                                <div class="notification">Notification</div>
                              </div>
                            
                            <br>
                            
                            
                    <div class="info-bannar">
                      <div class="frame-33989">
                        <div class="group-34080">
                          <div class="rectangle-1289"></div>
                          
                          <img class="rectangle-1290" src="/image/Rectangle 1290.png" />
                          <div class="group-34079">
                            <div class="civic">CIVIC</div>
                            <div class="engagement">ENGAGEMENT</div>
                          </div>
                        </div>
                        <div class="frame-33988">
                          <div class="frame-33984">
                            <div class="sachet-nagarik">SACHET NAGARIK</div>
                            <div class="engage-report-resolve">Engage.Report.Resolve</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="petition-options">
                              <div class="frame-34007">
                                <div class="women-s-right">Women's Right</div>
                                <div class="transportation">Transportation</div>
                                <div class="drinking-water">Drinking Water</div>
                                <div class="climate-change">Climate Change</div>
                              </div>
                            </div>
                            

                            <div class="petition-box">
                              <div class="image-container">
                                  <img src="/images/mensuration.png" alt="mensuration">
                                  <!-- <span class="victory-badge">VICTORY</span> -->
                              </div>
                              <div class="content">
                                  <h2>Petition for Menstrual Leave Policy</h2>
                      
                                  <div class="add text">Help Us Support Women's Health and Well-being</div>
                                  <p>We are advocating for a menstrual leave policy that acknowledges and addresses the unique health needs of women. Menstrual health is a critical aspect of overall well-being, and we believe that providing dedicated leave for menstruation can make a significant difference in the lives of many.......
                      
                                </p>
                                  <a href="#">Read More</a>
                                  <div class="stats">
                                      <div class="stat">
                                          <span>👥</span>
                                          <span>63</span>
                                      </div>
                                      <div class="stat">
                                          <span>✋</span>
                                          <span>0</span>
                                      </div>
                                      
                                  </div>
                              </div>
                          </div>

                            <div class="group-34090">
                              <div class="menu-row">
                                <div class="menu-item petition">
                                  <div class="item-text">Petitions</div>
                                </div>
                                <div class="menu-item complaints">
                                  <div class="item-text">Complaints</div>
                                </div>
                                <div class="menu-item queries">
                                  <div class="item-text">Queries</div>
                                </div>
                                <div class="menu-item polls">
                                  <div class="item-text">Polls</div>
                                </div>
                              </div>
                              <div class="community">
                                <div class="community-event">Community Event</div>
                              </div>
                            </div>


                    <div class="frame-33987">
                      <div class="frame-33986">
                        <div class="_2-456-users-and-growing">
                          <span>
                            <span class="_2-456-users-and-growing-span">2,456</span>
                            <span class="_2-456-users-and-growing-span2"></span>
                            <span class="_2-456-users-and-growing-span3">users and growing</span>
                          </span>
                        </div>
                        <div class="ellipse-241"></div>
                        <div class="_100-complaints-posted">
                          <span>
                            <span class="_100-complaints-posted-span">100</span>
                            <span class="_100-complaints-posted-span2">complaints posted</span>
                          </span>
                        </div>
                      </div>
                    </div>
                    
                    <footer class="footer-1">
                      <div class="footer-content">
                        
                         <p>सचेत <br> नागरिक</p>
                
                        
                      </div>
                      <div class="footer-content">
                        <h4>Quick Links</h4>
                        <li><a href="#">Home</a></li>
                       
                        <li><a href="#">About us</a></li>
                
                        <li><a href="#">Contact us</a></li>
                      </div>
                      
                     
                      <div class="footer-content">
                        <h4>Connect with us</h4>
                        <div class="icons">
                          <a href="#"><i class="fa-brands fa-facebook"></i></a>
                          <a href="#"><i class="fa-brands fa-instagram"></i></a>
                          <a href="#"><i class="fa-brands fa-google"></i></a>
                        </div>
                      </div>
                    </footer>
                   
                    
                    
                  
</body>
</html>

