<h1>Petitions</h1>
<div class="petition-box">
  <div class="image-container">
      <img src="/images/mensuration.png" alt="mensuration">
      <!-- <span class="victory-badge">VICTORY</span> -->
  </div>
  <div class="content">
      <h2>Petition for Menstrual Leave Policy</h2>

      <div class="add text">Help Us Support Women's Health and Well-being</div>
      <p>We are advocating for a menstrual leave policy that acknowledges and addresses the unique health needs of women. Menstrual health is a critical aspect of overall well-being, and we believe that providing dedicated leave for menstruation can make.......

    </p>
      <a href="#">Read More</a>
      <div class="stats">
          <div class="stat">
              <span>👥</span>
              <span>63</span>
          </div>
          <div class="stat">
              <span>✋</span>
              <span>0</span>
          </div>
          
      </div>
  </div>
</div>

<div class="petition-box">
  <div class="image-container">
      <img src="/images/ garbage.png" alt="mensuration">
      <!-- <span class="victory-badge">VICTORY</span> -->
  </div>
   
  <div class="content">
      <h2>Petition for cleaner and healthier Pokhara</h2>

      <div class="add text">Help Us Support in making Pokhara a clean green city.</div>
      <p>We, the residents of Pokhara, urgently request that the local authorities establish and enforce a regular waste collection schedule throughout our city. The current inconsistencies in waste collection have led to significant cleanliness issues and health concerns.........

    </p>
      <a href="#">Read More</a>
      <div class="stats">
          <div class="stat">
              <span>👥</span>
              <span>63</span>
          </div>
          <div class="stat">
              <span>✋</span>
              <span>0</span>
          </div>
          
      </div>
  </div>
</div>